/* the soundcloud code got upset if there were no dom 
* elements with valid width and heighth to target, so
* some trickery was used to hide the soundcloud embeds
* from the user but leave them visible to the code, 
* therefore avoiding errors in the console */
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 1 300);
  height: 1px; width: 300px; 
  margin: 2px; padding: 1; border: 0;
  visibility: hidden; 
}

.titleLogo {
	vertical-align: baseline;
	height: .75em;
    width: .75em;
}

.birbEmbed {
	width:100%;
	height:0;
	padding-bottom:56%;
	position:relative;
}

.jumbotron {
	padding-bottom: 0;
	margin-bottom: .5em;
}

.tree {
    background: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Tree-icon.png");
    width: 12em;
    height: 5em;
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.tree > h3 {
	padding-top: .75em;
}

.grass {
    background: url(http://munns.com.au/image/data/Misc/munns_icons-08.png);
    height: 1.5em;
    width: 11em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: -1em;
}

.verticalCenter {
	position: relative;
	margin-top: 2em;
}

.gameText {
	font-size: 3em;
}

.treeText {
	margin-top: -.25em;
	line-height: 1em;
}

.wordDisplayTitle {
	margin-top: 1.75em;
}

#wordDisplay {
	padding: .25em 0;
}

#alreadyGuessedLetter {
	min-height: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: -20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}